$primary-color: #8394b6;
$secondly-color: #d4d7de;

.appended-table {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid $secondly-color;
    margin-top: 1rem;

    tr,
    th,
    td,
    a {
        box-sizing: border-box;
        text-align: center;
        vertical-align: middle;
        font-size: 1rem;
    }

    th {
        background: $primary-color;
        font-weight: bold;
    }

    td {
        padding: 0.1rem;
        border: 0.1rem solid $secondly-color;
    }

    a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
}