.appended-table,
.appended-table tr,
.appended-table th,
.appended-table td
.appended-table a {
    box-sizing: border-box;
}

.appended-table {
    width: 100%;
    border: 2px solid #d4d7de;
    font-size: 1rem;
    margin-top: 1rem;
}

.appended-table th {
    background: #8394b6;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

.appended-table td {
    padding: .1rem;
    vertical-align: middle;
    text-align: center;
    border: .1rem solid #d4d7de;
}

.appended-table a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem;
}